<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<authentication mode="Forms">
      <forms loginUrl="login.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>-->
 
  </system.web>
  <!--<location path="IdentityExe">
    <system.web>
      <authorization>
        <deny users="?" roles="normal"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="mySqlConnectionString" connectionString="server=localhost;port=3306;SslMode=none;Database=test;;User=root;Password=123;charset=utf8;pooling=true;" />
    <add name="supplyModel" connectionString="data source=localhost;initial catalog=WebFormCases.Models.supplyModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="supplyModel1" connectionString="data source=localhost;initial catalog=WebFormCases.Models.supplyModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Model1Container" connectionString="metadata=res://*/ajaxUpdatePanel.Model1.csdl|res://*/ajaxUpdatePanel.Model1.ssdl|res://*/ajaxUpdatePanel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WebFormCases.Models.supplyModel;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WebFormCases.Models.supplyModelConnectionString" connectionString="Data Source=.;Initial Catalog=WebFormCases.Models.supplyModel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WebFormCases.Models.supplyModelConnectionString2"
      connectionString="Data Source=.;Initial Catalog=WebFormCases.Models.supplyModel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Fruit" connectionString="data source=localhost;initial catalog=WebFormCases.Models.supplyModel;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="NorthWindDbContext" connectionString="data source=.;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb" connectionString="data source=.;initial catalog=EntityExe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="EntityDb" connectionString="data source=.;initial catalog=EntityDb;integrated security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntityExe" connectionString="data source=.;initial catalog=EntityExe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb2" connectionString="data source=.;initial catalog=EntityExe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb3" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString2" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="EntityExe1" connectionString="data source=.;initial catalog=EntityExe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="WingtipToysConnectionString" connectionString="Data Source=.;Initial Catalog=WingtipToys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntityExeConnectionString" connectionString="Data Source=.;Initial Catalog=EntityExe;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="bjhksjConnectionString" connectionString="Data Source=.;Initial Catalog=bjhksj;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDbContext" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDbContext1" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDbContext2" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb4" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="tag" connectionString="data source=.;initial catalog=TagSystem;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb6" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="UserItemDb7" connectionString="data source=.;initial catalog=UserItemDbEntities;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MyDatabaseEntities" connectionString="data source=thesqlserver.com; Initial Catalog=mydbase; User ID=myuid; Password=mypwd;"
      providerName="System.Data.EntityClient" />
    <add name="testConnectionString" connectionString="server=localhost;port=3306;SslMode=none;Database=test;User=root;Password=123;charset=utf8;pooling=true;"
      providerName="MySql.Data.MySqlClient" />
    <add name="EntityDb1" connectionString="data source=.;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Entity2" connectionString="data source=localhost;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="PasswordModel" connectionString="data source=.;initial catalog=TagSystem;persist security info=True;user id=sa;password=micro123,./;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="WingtipToysConnectionString2" connectionString="Data Source=.;Initial Catalog=WingtipToys;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DepartAndEmp1" connectionString="data source=.;initial catalog=EntityDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Identity" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=Identity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="DbContext1" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=EntityExe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="SchoolDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WebFormCases2.Models.school.SchoolDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="NorthwindConnectionString3" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthSoap" allowCookies="true" />
        <binding name="MyServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63599/Auth.asmx" binding="basicHttpBinding"
        bindingConfiguration="AuthSoap" contract="Auth.AuthSoap" name="AuthSoap" />
      <endpoint address="http://localhost:53239/Services/MyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MyServiceSoap"
        contract="ServiceReference1.MyServiceSoap" name="MyServiceSoap" />
    </client>
  </system.serviceModel>

</configuration>