
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    <input name="vara" type="text" value="varaValue" />
    <input name="varb[0]" value="varb[0]" />
    <input name="varb[1]" value="varb[1]" />
    <input name="varb[2]" value="varb[2]" />
    <input name="varb[3]" value="varb[3]" />

    <input type="submit" value="submit" />
</form>

@section scripts{
    
    
    <script>
      
         $.ajax({
        
             url: "@Url.Action("GetArray")",
             type: "POST",
             data: $("form").serialize(),
             contentType: "application/json;charset=utf-8",
             success: function (data) {
                 console.log(data);
             }
        })
    </script>
    }